{% extends "base.html" %} 
{% load static %}
{% load humanize %}
{% block content %}

<!-- 1.2 background -->
<div class="relative h-[180px] bg-cover bg-center" 
    style="background-image: url('{% static "img/bg/course_infants.avif" %}')">
</div>

<!-- 2. Page Content -->
<div class="max-w-4xl mx-auto p-4 mt-6">

    <!-- 頂部課程分類導航 -->
    <div class="flex justify-center -space-x-2">
    {% for mc in list_mc %}
        <a href="{% url "pages:course_list" mc.id %}">
            <div class="bg-[{{mc.theme_color}}] hover:bg-[{{mc.theme_color}}] text-center py-3 px-8 rounded-t-lg text-sm font-medium">
            {{mc.name}}
            </div>
        </a>
    {% endfor %}
    </div>

    <!-- 主內容卡片 -->
    <div class="border-4 border-[{{obj_mc.theme_color}}] rounded-2xl p-6">
        {% if list_sc %}
        <!-- 課程模組標籤 -->
        <form>
        <div class="flex flex-wrap justify-center gap-3 mb-8">
        {% for sc in list_sc %}
            <button name="sc" value="{{sc.id}}" type="submit">
                {% if sc.id == obj_sc.id %}
                    <div class="bg-[{{obj_mc.theme_color}}] text-white text-center py-3 px-4 rounded-full text-sm font-medium transition-colors hover:bg-gray-200">
                {% else %}
                    <div class="bg-cyan-200 text-center py-3 px-4 rounded-full text-sm font-medium transition-colors hover:bg-gray-200">
                {% endif %}            
                {{sc.name}}
                </div>
            </button>
        {% endfor %}

        </div>
        </form>

        <!-- 課程標題與描述 -->
        <div class="text-center mb-10">
        <h2 class="text-2xl font-bold text-[{{obj_mc.theme_color}}] mb-4">{{obj_sc.name}}</h2>
        <p class="text-gray-600 text-sm leading-relaxed">
            {{obj_sc.desc | linebreaks}}
        </p>
        </div>

        {% if list_course %}
        <!-- 課程卡片 -->
        <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
        {% for course in list_course %}
            <a href="{% url "pages:course" course.id %}">
                <div class="bg-white shadow-md rounded-lg p-6 text-center relative h-full">
                <!-- 右上角標籤：收生中 -->
                <div class="absolute top-4 right-4 bg-green-500 text-white text-sm font-medium px-4 py-2 rounded-full">
                    {{course.str_course_status}}
                </div>

                <div class="text-lg font-medium mb-4">
                    {% if course.age_group %}
                    {{course.age_group}}<br>
                    {% endif %}
                    {{course.name | wordwrap:10}}
                </div>
                <!-- 小熊圖片 絕對定位 貼齊左下角 -->
                <img src="./img/icon/Playgroup_bear.png" 
                    class="absolute bottom-0 left-0 h-20 w-auto" 
                    alt="">
                </div>
            </a>
        {% endfor %}

        </div>
        {% endif %}
        {% endif %}
    </div>
</div>
{% endblock %}