{% extends "base.html" %} 
{% load static %}
{% load humanize %}
{% block content %}

<!-- 1.2 background -->
<div class="relative h-[450px] bg-cover bg-center" 
  style="background-image: url('{% static "img/banner/mainbanner.jpg" %}');">
</div>

<!-- 2. Page Content -->
<div class="max-w-6xl mx-auto px-4 py-10">
  <section class="mb-16">
    <div class="text-center mb-8">
      <div class="flex items-center justify-center gap-4 mb-4">
        <div class="h-px bg-course-brown flex-1 max-w-[100px]"></div>
        <h2 class="text-2xl md:text-3xl font-bold text-course-brown">本機構設三大課程體系</h2>
        <div class="h-px bg-course-brown flex-1 max-w-[100px]"></div>
      </div>
      <p class="text-sm md:text-base max-w-3xl mx-auto leading-relaxed">
        親子Playgroup針對11-36個月幼兒，透過親子互動啟蒙發展、協助學前適應；<br>
        幼兒及兒童課程涵蓋藝術、樂理及權威認證班，全面培育孩子才藝與學術能力；<br>
        成人課程主打瑜伽、縱體舞蹈，輕鬆塑形紓壓，適合大眾修身健體。
      </p>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-3 text-center">
      <div class="flex flex-col items-center">
        <div class="w-[200px] h-[200px] mb-4">
          <img src="{% static "img/icon//service_infants.png" %}" alt="親子Playgroup" class="w-full h-full object-cover">
        </div>
        <p class="text-lg font-medium leading-relaxed">親子 Playgroup /<br>學前系列 課程</p>
      </div>
      <div class="flex flex-col items-center">
        <div class="w-[200px] h-[200px] mb-4">
          <img src="{% static "img/icon/service_child.png" %}" alt="幼兒及兒童課程" class="w-full h-full object-cover">
        </div>
        <p class="text-lg font-medium">幼兒及兒童課程</p>
      </div>
      <div class="flex flex-col items-center">
        <div class="w-[200px] h-[200px] mb-4">
          <img src="{% static "img/icon/service_adult.png" %}" alt="成人課程" class="w-full h-full object-cover">
        </div>
        <p class="text-lg font-medium">成人課程</p>
      </div>
    </div>
  </section>

  <section>
    <div class="text-center mb-8">
      <div class="flex items-center justify-center gap-4 mb-4">
        <div class="h-px bg-course-brown flex-1 max-w-[100px]"></div>
        <h2 class="text-2xl md:text-3xl font-bold text-course-brown">熱門課程</h2>
        <div class="h-px bg-course-brown flex-1 max-w-[100px]"></div>
      </div>
      <p class="text-sm md:text-base max-w-3xl mx-auto leading-relaxed">
        親子Playgroup針對11-36個月幼兒，透過親子互動啟蒙發展、協助學前適應；<br>
        幼兒及兒童課程涵蓋藝術、樂理及權威認證班，全面培育孩子才藝與學術能力；<br>
        成人課程主打瑜伽、縱體舞蹈，輕鬆塑形紓壓，適合大眾修身健體。
      </p>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
      <div class="w-full aspect-video rounded-2xl overflow-hidden shadow-md">
        <img src="{% static "img/banner/home_piano.jpg" %}" alt="Little Ones Playgroup" class="w-full h-full object-cover">
      </div>
      <div class="w-full aspect-video rounded-2xl overflow-hidden shadow-md">
        <img src="{% static "img/banner/home_child.jpg" %}" alt="樂器課程" class="w-full h-full object-cover">
      </div>
    </div>
  </section>
</div>

<!-- NEWS -->
<section class="relative w-full min-h-screen bg-cover bg-center bg-no-repeat" 
  style="background-image: url('{% static "img/bg/home_news.jpg" %}');">
  <div class="relative z-10 flex flex-col items-center justify-center min-h-screen px-4 py-16">
    <div class="text-center mb-12 max-w-2xl">
      <h2 class="text-4xl font-bold text-black mb-4">最新消息</h2>
      <p class="text-lg text-black leading-relaxed">
        持續為大家更新最新動態！這裡會不定時發布課程安排、限定活動，同步公開學員參賽、演出等喜訊。記得常來瀏覽，掌握第一手資訊，一起欣賞小朋友在各類比賽中的出色表現，分享每一份收穫與喜悅。
      </p>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-3 gap-6 w-full max-w-5xl">

      <div class="bg-white rounded-2xl shadow-lg overflow-hidden flex flex-col">
        <div class="w-full aspect-[3/4]">
          <img src="{% static "img/blog/666472121_1362397829257498_2251700113840099731_n.jpg" %}" alt="News 1" class="w-full h-full object-cover">
        </div>
        <div class="p-4 text-center">
          <h3 class="text-md font-bold text-black">📢☀ 𝙎𝙪𝙢𝙢𝙚𝙧 𝙋𝙧𝙤𝙜𝙧𝙖𝙢𝙨 暑期活動 2026 </h3>
          <p class="text-sm text-black mt-1">現正接受報名！</p>
        </div>
      </div>

      <div class="bg-white rounded-2xl shadow-lg overflow-hidden flex flex-col">
        <div class="w-full aspect-[3/4]">
          <img src="{% static "img/blog/669662783_1366867718810509_3874555675509062602_n.jpg" %}" alt="News 1" class="w-full h-full object-cover">
        </div>
        <div class="p-4 text-center">
          <h3 class="text-md font-bold text-black">🏆✨香港精英舞蹈大賽 2026✨🏆</h3>
          <p class="text-sm text-black mt-1">熱烈祝賀本中心舞蹈學員於 「香港精英舞蹈大賽 2026」 中表現出色，勇奪佳績！</p>
        </div>
      </div>

      <div class="bg-white rounded-2xl shadow-lg overflow-hidden flex flex-col">
        <div class="w-full aspect-[3/4]">
          <img src="{% static "img/blog/690761881_1387835673380380_4785545931276664705_n.jpg" %}" alt="News 1" class="w-full h-full object-cover">
        </div>
        <div class="p-4 text-center">
          <h3 class="text-md font-bold text-black">🌸💝 母親節親子入廚樂</h3>
          <p class="text-sm text-black mt-1">法式草莓蛋糕 Fraisier 製作工作坊</p>
        </div>
      </div>
      
    </div>
  </div>
</section>
{% endblock %}
