{% extends "base.html" %} 
{% load static %}
{% load humanize %}
{% block content %}

<!-- 1.2 background -->
<div class="relative h-[150px] bg-cover bg-center" 
    style="background-image: url('./img/banner/news_banner.png');">
</div>

<!-- 2. Page Content -->
<div class="max-w-2xl mx-auto p-8">
<!-- 標題與日期 -->
<h1 class="text-3xl font-bold text-black mb-2">Title</h1>
<p class="text-gray-400 mb-6">Published date</p>

<!-- 描述文字 -->
<p class="text-lg text-black mb-8">Description</p>


<!-- 活動圖片 -->
<div class="w-full max-w-sm mx-auto">
    <img src="./img/blog/20260401_kid_caring_1.jpg" 
        alt="2We Summer 活動海報" 
        class="w-full h-auto rounded-lg shadow-md">
</div>
</div>
{% endblock %}