asgiref==3.11.1
autopep8==2.3.2
certifi==2026.5.20
charset-normalizer==3.4.7
Django==5.2
django-colorfield==0.14.0
django-debug-toolbar==6.3.0
django-taggit==6.1.0
django-widget-tweaks==1.5.1
idna==3.18
pillow==12.2.0
psycopg2==2.9.12
pycodestyle==2.14.0
python-dotenv==1.2.2
requests==2.34.2
sqlparse==0.5.5
stripe==15.2.0
typing_extensions==4.15.0
urllib3==2.7.0
