asgiref==3.11.1
autopep8==2.3.2
Django==5.2
django-debug-toolbar==6.3.0
django-taggit==6.1.0
django-widget-tweaks==1.5.1
pillow==12.2.0
psycopg2==2.9.12
pycodestyle==2.14.0
python-dotenv==1.2.2
sqlparse==0.5.5
typing_extensions==4.15.0
