{% load static %}
<!-- 1. Navbar -->
<!-- Desktop navbar -->
<div id="navbar" class="fixed w-full top-0 md:top-5 md:w-[90%] md:left-1/2 md:-translate-x-1/2 md:rounded-full bg-white shadow-lg z-50">
    <div class="container mx-auto px-4 py-3 flex justify-between items-center">
    <!-- Desktop Links -->
    <div class="hidden md:flex gap-6">
        {% for mc in list_mc %}
            <a href="{% url "front_web:course_list" mc.id %}" class="text-gray-700 hover:text-blue-600">
              {% if mc.nav_icon %}
                <i class="fa-solid {{mc.nav_icon}} fa-xl"{% if mc.theme_color %} style="color: {{mc.theme_color}};"{% endif %}></i>
              {% endif %}
              {{mc.short_name}}</a>
        {% endfor %}
    </div>

    <!-- Logo -->
    <div>
        <a href="{% url "front_web:home" %}" class="text-xl font-bold text-gray-800">
        <img src="{% static "img/logo/jc.png" %}" class="h-12" alt="jclogo">
        </a>
    </div>

    <!-- *** Here need to set condition between public account vs private account *** -->
    <!-- Public User Top - Login / Register -->
    {% if request.session.student_id %}
    <!-- Private User Top - My Course / Logout -->
    <div class="hidden md:flex gap-6">
        <div class="flex items-center gap-5">
        <div class="flex items-center">
            <i class="fa-solid fa-circle-user text-xl" style="color: rgb(30, 48, 80);"></i>
            <span class="text-md font-medium">{{request.session.student_name}}</span>
        </div>

        {% comment %} fix url {% endcomment %}
        <a href="{% url "front_web:student_dashboard" %}" class="text-gray-600 hover:text-blue-500 ">
            <div class="flex items-center">
            <div class="w-8 h-8 bg-[#FF7400] rounded-full flex items-center justify-center">
                <i class="fa-regular fa-calendar-days text-lg text-white"></i>
            </div>
            <span class="text-md font-medium">我的課程</span>
            </div>
        </a>

        {% comment %} fix url {% endcomment %}
        <a href="javascript:{document.getElementById('logout').submit()}" class="text-gray-600 hover:text-blue-500 ">
          <form action="{% url "front_web:student_logout" %}" method="Post" id="logout">
            <div class="flex items-center">
                {% csrf_token %}<input type="hidden">
                <div class="w-8 h-8 bg-[#001A77] rounded-full flex items-center justify-center">
                  <i class="fa-solid fa-person-walking-arrow-right text-md text-white"></i>
                </div>
                <span class="text-md font-medium">登出</span>
            </div>
          </form>  
        </a>
        </div>
    </div>
    {% else %}
    <div class="hidden md:flex gap-6">
        <div class="flex items-center gap-5">

        <a href="{% url "front_web:student_login" %}" class="text-gray-600 hover:text-blue-500 ">
            <div class="flex items-center">
            <div class="w-8 h-8 bg-green-300 rounded-full flex items-center justify-center">
                <i class="fa-solid fa-arrow-right-to-bracket text-lg text-black"></i>
            </div>
            <span class="text-md font-medium">登入</span>
            </div>
        </a>

        <a href="{% url "front_web:student_register" %}" class="text-gray-600 hover:text-blue-500 ">
            <div class="flex items-center">
            <div class="w-8 h-8 bg-orange-200 rounded-full flex items-center justify-center">
                <i class="fa-solid fa-user-plus text-md text-black"></i>
            </div>
            <span class="text-md font-medium">註冊</span>
            </div>
        </a>
        </div>
    </div>
    {% endif %}

    <!-- Hambugar menu -->
    <button id="menuBtn" class="md:hidden text-2xl text-gray-600 z-50">
        <i class="fa-solid fa-bars"></i>
    </button>
</div>
</div>

<!-- Mobile menu -->
<div id="mobileMenu" 
    class="fixed inset-0 bg-white/95 z-[9998] flex flex-col items-center justify-center gap-3 text-lg hidden opacity-0 transition-opacity duration-300"
    style="background-image: url('{% static "img/banner/mainbanner.jpg" %}');">

    <a href="{% url "front_web:home" %}" class="w-full px-10">
    <p class="w-[200px] mx-auto py-2 px-5 bg-blue-400 text-white font-medium rounded-full hover:bg-sky-200 transition-colors text-center">首頁</p>
    </a>
    <a href="{% url "front_web:about" %}" class="w-full px-10">
    <p class="w-[200px] mx-auto py-2 px-5 bg-[#FF7400] text-white font-medium rounded-full hover:bg-sky-200 transition-colors text-center">關於我們</p>
    </a>
    <a href="{% url "front_web:newses" %}" class="w-full px-10">
    <p class="w-[200px] mx-auto py-2 px-5 bg-[#FCD82A] text-white font-medium rounded-full hover:bg-sky-200 transition-colors text-center">最新消息</p>
    </a>
    
    <div class="flex flex-col items-center gap-4 mt-4">
    {% for mc in list_mc %}
    <a href="{% url "front_web:course_list" mc.id %}">
        <button class="w-40 py-2 bg-white hover:bg-gray-100 border-4 {% if mc.theme_color %}border-[{{mc.theme_color}}] {% endif %}rounded-2xl flex flex-col items-center justify-center shadow-md">
        {% if mc.nav_icon %}
          <i class="fa-solid {{mc.nav_icon}} text-4xl {% if mc.theme_color %}text-[{{mc.theme_color}}] {% endif %}mb-2"></i>
        {% endif %}
        <span class="text-gray-700 text-lg font-medium">{{mc.short_name}}</span>
        </button>
    </a>
    {% endfor %}
</div>

  <!-- *** Here need to set condition between public account vs private account *** -->
  <!-- Public User Footer -->
  {% if request.session.student_id %}
  <div class="flex justify-center gap-4 mt-6 w-full px-4">
    {% comment %} fix url {% endcomment %}
    <a href="{% url "front_web:student_dashboard" %}">
      <button class="py-4 px-8 bg-[#FF7400] text-white rounded-full flex items-center gap-3 hover:bg-orange-400 transition-colors">
        <i class="fa-solid fa-calendar text-xl"></i>
        <span class="font-medium text-xl">我的課程</span>
      </button>
    </a>
    {% comment %} fix url {% endcomment %}
    <a href="javascript:{document.getElementById('logout').submit()}">
      <form action="{% url "front_web:student_logout" %}" method="Post" id="logout">
        {% csrf_token %}<input type="hidden">
        <button class="py-4 px-8 bg-[#001A77] text-white rounded-full flex items-center gap-3 hover:bg-blue-300 transition-colors">
          <i class="fa-solid fa-person-walking-arrow-right text-xl"></i>
          <span class="font-medium text-xl">登出</span>
        </button>
      </form>
    </a>
  </div>
  {% else %}
  <!-- Private User Footer -->
  <div class="flex justify-center gap-4 mt-6 w-full px-4">

    <a href="{% url "front_web:student_login" %}">
      <button class="py-4 px-8 bg-green-400 text-white rounded-full flex items-center gap-3 hover:bg-green-500 transition-colors">
        <i class="fa-solid fa-arrow-right-to-bracket text-xl"></i>
        <span class="font-medium text-xl">登入</span>
      </button>
    </a>

    <a href="{% url "front_web:student_register" %}">
      <button class="py-4 px-8 bg-blue-500 text-white rounded-full flex items-center gap-3 hover:bg-blue-600 transition-colors">
        <i class="fa-solid fa-user-plus text-xl"></i>
        <span class="font-medium text-xl">註冊</span>
      </button>
    </a>
  </div>
  {% endif %}
</div>

<!-- Mobile close button -->
<button id="closeBtn" 
  class="bg-blue-500 px-2 rounded-lg fixed top-5 right-5 text-2xl text-white z-[9999] hidden">
  <i class="fa-solid fa-xmark"></i>
</button>


<script>
const mainnavbar = document.getElementById('navbar');
const menuBtn = document.getElementById('menuBtn');
const closeBtn = document.getElementById('closeBtn');
const mobileMenu = document.getElementById('mobileMenu');

// Open Mobile version
menuBtn.addEventListener('click', () => {
  menuBtn.classList.add('hidden');
  mobileMenu.classList.remove('hidden');
  closeBtn.classList.remove('hidden');
  setTimeout(() => {
    mobileMenu.classList.add('opacity-100');
  }, 10);
  document.body.style.overflow = 'hidden';
});

// Close Mobile version
function closeMobileMenu() {
  mobileMenu.classList.remove('opacity-100');
  setTimeout(() => {
    mobileMenu.classList.add('hidden');
    closeBtn.classList.add('hidden');
    menuBtn.classList.remove('hidden');
  });
  document.body.style.overflow = '';
}

closeBtn.addEventListener('click', closeMobileMenu);

// Close when click the button
const links = mobileMenu.querySelectorAll('a');
links.forEach(link => {
  link.addEventListener('click', closeMobileMenu);
});

// Resize: close mobile meun when larger than 768px 
window.addEventListener('resize', () => {
  if (window.innerWidth >= 768) {
    closeMobileMenu();
  }
});
</script>
