{% extends "base.html" %} 
{% load static %}
{% load humanize %}
{% block content %}
<!-- 1.2 navbar background -->
<div class="relative h-[180px] bg-cover bg-center" 
  style="background-image: url('{% static "img/bg/page.jpg" %}');">
</div>

<!-- 2. Content -->
<section class="mt-8 bg-white flex flex-col items-center justify-center gap-10 px-6">
    <!-- 橙色笑臉 -->
    <div class="w-24 h-24 rounded-full flex items-center justify-center">
        <i class="fa-solid fa-face-smile-wink text-[6rem]" style="color: rgb(255, 111, 0);"></i>
    </div>
    <h2 class="text-2xl text-gray-600 font-medium">成功報讀！</h2>

    <!-- 按鈕組 -->
    <div class="flex flex-col gap-5 w-full max-w-sm">
        <a href="{% url "front_web:course_list" course_list_id %}" class="py-4 rounded-full bg-[#b4d26e] text-white text-xl text-center font-medium">繼續瀏覽課程</a>
        <a href="{% url "front_web:student_dashboard" %}" class="py-4 rounded-full bg-[#6986f5] text-white text-xl text-center font-medium">查看我的課程</a>
    </div>
</section>
{% endblock %}
