{% extends "base.html" %} 
{% load static %}
{% load humanize %}
{% block content %}

<!-- 1.2 background -->
<div class="relative h-[120px] bg-cover bg-center" 
    style="background-image: url('{% static "img/banner/news_banner.png" %}');">
</div>

<!-- 2. Page Content -->
<!-- 我的課堂區塊 -->
<section class="py-10 px-4">
  <div class="max-w-6xl mx-auto">
    <!-- 問候文字 -->
    <div class="mb-8">
      <h1 class="text-4xl font-bold text-gray-900 mb-2">Hello, {{request.session.student_name}}!</h1>
      <p class="text-gray-500">
        歡迎回來！準備好展開今日的學習旅程了嗎？
      </p>
    </div>

    
    <!-- 標籤切換: 我的課堂 -->
    <div class="flex gap-4 mb-8">
      <button name="btnCurrentCourse" value="btnCurrentCourse" type="submit" class="tab-btn bg-gray-200 text-gray-800 font-medium px-8 py-3 rounded-full" >
        我的課堂
      </button>
      <button name="btnPastCourse" value="btnPastCourse" type="submit" class="tab-btn bg-white text-gray-600 font-medium px-8 py-3 rounded-full border">
        我的歷史紀錄
      </button>
    </div>

    <!-- 標籤切換: 我的歷史紀錄 -->
    <div class="flex gap-4 mb-8">
      <button name="btnCurrentCourse" value="btnCurrentCourse" type="submit" class="tab-btn bg-white text-gray-600 font-medium px-8 py-3 rounded-full border">
        我的課堂
      </button>
      <button name="btnPastCourse" value="btnPastCourse" type="submit" class="tab-btn bg-gray-200 text-gray-800 font-medium px-8 py-3 rounded-full">
        我的歷史紀錄
      </button>
    </div>

    <!-- 我的課堂： 課程卡片列表 -->
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8 mb-5">
      <!-- 課程卡片 1 -->
      <div class="bg-white shadow-lg rounded-xl p-8">
        <h3 class="text-2xl font-bold text-gray-900 mb-1">Course Title</h3>
        <p class="text-gray-600 text-sm mb-6">課程編號: 26PG311-02</p>
        
        <div class="space-y-4">
          <div class="flex items-center gap-4">
            <i class="fa-solid fa-calendar text-2xl text-gray-700"></i>
            <span class="text-xl text-gray-800">25/04/2026 - 13/06/2026</span>
          </div>
          <div class="flex items-center gap-4">
            <i class="fa-solid fa-clock text-2xl text-gray-700"></i>
            <span class="text-xl text-gray-800">12:30-13:30</span>
          </div>
          <div class="flex items-center gap-4">
            <i class="fa-solid fa-book text-2xl text-gray-700"></i>
            <span class="text-xl text-gray-800">8堂</span>
          </div>
        </div>
      </div>

      <!-- 課程卡片 2 -->
      <div class="bg-white shadow-lg rounded-xl p-8">
        <h3 class="text-2xl font-bold text-gray-900 mb-1">Course Title</h3>
        <p class="text-gray-600 text-sm mb-6">課程編號: 26PG311-02</p>
        
        <div class="space-y-4">
          <div class="flex items-center gap-4">
            <i class="fa-solid fa-calendar text-2xl text-gray-700"></i>
            <span class="text-xl text-gray-800">25/04/2026 - 13/06/2026</span>
          </div>
          <div class="flex items-center gap-4">
            <i class="fa-solid fa-clock text-2xl text-gray-700"></i>
            <span class="text-xl text-gray-800">12:30-13:30</span>
          </div>
          <div class="flex items-center gap-4">
            <i class="fa-solid fa-book text-2xl text-gray-700"></i>
            <span class="text-xl text-gray-800">8堂</span>
          </div>
        </div>
      </div>

      <!-- 課程卡片 3 -->
      <div class="bg-white shadow-lg rounded-xl p-8">
        <h3 class="text-2xl font-bold text-gray-900 mb-1">Course Title</h3>
        <p class="text-gray-600 text-sm mb-6">課程編號: 26PG311-02</p>
        
        <div class="space-y-4">
          <div class="flex items-center gap-4">
            <i class="fa-solid fa-calendar text-2xl text-gray-700"></i>
            <span class="text-xl text-gray-800">25/04/2026 - 13/06/2026</span>
          </div>
          <div class="flex items-center gap-4">
            <i class="fa-solid fa-clock text-2xl text-gray-700"></i>
            <span class="text-xl text-gray-800">12:30-13:30</span>
          </div>
          <div class="flex items-center gap-4">
            <i class="fa-solid fa-book text-2xl text-gray-700"></i>
            <span class="text-xl text-gray-800">8堂</span>
          </div>
        </div>
      </div>
    </div>

    <!-- 我的歷史紀錄： 課程卡片列表 -->
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
      <!-- 課程卡片 1 -->
      <div class="bg-gray-200 shadow-lg rounded-xl p-8">
        <h3 class="text-2xl font-bold text-gray-900 mb-1">Course Title</h3>
        <p class="text-gray-600 text-sm mb-6">課程編號: 26PG311-02</p>
        
        <div class="space-y-4">
          <div class="flex items-center gap-4">
            <i class="fa-solid fa-calendar text-2xl text-gray-700"></i>
            <span class="text-xl text-gray-800">25/04/2026 - 13/06/2026</span>
          </div>
          <div class="flex items-center gap-4">
            <i class="fa-solid fa-clock text-2xl text-gray-700"></i>
            <span class="text-xl text-gray-800">12:30-13:30</span>
          </div>
          <div class="flex items-center gap-4">
            <i class="fa-solid fa-book text-2xl text-gray-700"></i>
            <span class="text-xl text-gray-800">8堂</span>
          </div>
        </div>
      </div>

      <!-- 課程卡片 2 -->
      <div class="bg-gray-200 shadow-lg rounded-xl p-8">
        <h3 class="text-2xl font-bold text-gray-900 mb-1">Course Title</h3>
        <p class="text-gray-600 text-sm mb-6">課程編號: 26PG311-02</p>
        
        <div class="space-y-4">
          <div class="flex items-center gap-4">
            <i class="fa-solid fa-calendar text-2xl text-gray-700"></i>
            <span class="text-xl text-gray-800">25/04/2026 - 13/06/2026</span>
          </div>
          <div class="flex items-center gap-4">
            <i class="fa-solid fa-clock text-2xl text-gray-700"></i>
            <span class="text-xl text-gray-800">12:30-13:30</span>
          </div>
          <div class="flex items-center gap-4">
            <i class="fa-solid fa-book text-2xl text-gray-700"></i>
            <span class="text-xl text-gray-800">8堂</span>
          </div>
        </div>
      </div>

      <!-- 課程卡片 3 -->
      <div class="bg-gray-200 shadow-lg rounded-xl p-8">
        <h3 class="text-2xl font-bold text-gray-900 mb-1">Course Title</h3>
        <p class="text-gray-600 text-sm mb-6">課程編號: 26PG311-02</p>
        
        <div class="space-y-4">
          <div class="flex items-center gap-4">
            <i class="fa-solid fa-calendar text-2xl text-gray-700"></i>
            <span class="text-xl text-gray-800">25/04/2026 - 13/06/2026</span>
          </div>
          <div class="flex items-center gap-4">
            <i class="fa-solid fa-clock text-2xl text-gray-700"></i>
            <span class="text-xl text-gray-800">12:30-13:30</span>
          </div>
          <div class="flex items-center gap-4">
            <i class="fa-solid fa-book text-2xl text-gray-700"></i>
            <span class="text-xl text-gray-800">8堂</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}