{% load static %}
<!-- Desktop navbar -->
<div id="navbar" class="fixed w-full top-0 md:top-5 md:w-[90%] md:left-1/2 md:-translate-x-1/2 md:rounded-full bg-white shadow-lg z-50">
    <div class="container mx-auto px-4 py-3 flex justify-between items-center">
    <!-- Desktop Links -->
    <div class="hidden md:flex gap-6">
        <a href="#" class="text-gray-700 hover:text-blue-600"><i class="fa-solid fa-baby fa-xl" style="color: #FCD82A;"></i>Playgroup</a>
        <a href="#" class="text-gray-700 hover:text-blue-600"><i class="fa-solid fa-child-reaching fa-xl" style="color: #accf56;"></i>兒童課程</a>
        <a href="#" class="text-gray-700 hover:text-blue-600"><i class="fa-solid fa-person fa-xl" style="color: #c7a4a0;"></i>成人課程</a>
    </div>

    <!-- Logo -->
    <div>
        <a href="{% url "pages:home" %}" class="text-xl font-bold text-gray-800">
        <img src="{% static "img/logo/jc.png" %}" class="h-12" alt="jclogo">
        </a>
    </div>

    <!-- Login / Register -->
    <div class="hidden md:flex gap-6">
        <div class="flex items-center gap-5">
        {% comment %} fix url {% endcomment %}
        <a href="#">
            <div class="flex items-center">
            <div class="w-8 h-8 bg-green-300 rounded-full flex items-center justify-center">
                <i class="fa-solid fa-arrow-right-to-bracket text-lg text-black"></i>
            </div>
            <span class="text-md text-gray-600 font-medium">登入</span>
            </div>
        </a>
        {% comment %} fix url {% endcomment %}
        <a href="#">
            <div class="flex items-center">
            <div class="w-8 h-8 bg-orange-200 rounded-full flex items-center justify-center">
                <i class="fa-solid fa-user-plus text-md text-black"></i>
            </div>
            <span class="text-md text-gray-600 font-medium">註冊</span>
            </div>
        </a>
        </div>
    </div>

    <!-- 手機漢堡按鈕 -->
    <button id="menuBtn" class="md:hidden text-2xl text-gray-600 z-50">
        <i class="fa-solid fa-bars"></i>
    </button>
</div>
</div>